/* font-family: 'Playfair Display', serif;
font-family: "Gilroy";
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Gillroy";
  background-image: url("./../img/bg.jpg");
  background-color: #0b1d26;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* header */
.header {
  padding-top: 64px;
  padding-bottom: 843px;
}
.nav-wrapper {
  margin-bottom: 198px;
}

.container-wide {
  max-width: 1790px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 1.12;
  text-transform: capitalize;
  color: #ffffff;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  list-style-type: none;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  position: relative;
  padding-bottom: 5px;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fbd784;
  opacity: 0;
  transition: all 250ms ease-in;
}

.nav a:hover::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  content: "";
  width: 100%;
  opacity: 1;
  height: 2px;
  background-color: #fbd784;
  transition: all 250ms ease-in;
}

.account::before {
  position: absolute;
  left: 0;
  top: 50%;

  transform: translateY(-50%);
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(./../svg/cart.svg);
}

.account {
  padding-left: 32px;
  position: relative;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav a:hover {
  color: #fbd784;
  transition: color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.account:hover {
  color: #fbd784;
  transition: color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* HERO */
.hero {
  display: block;
  max-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(1, 0.295, 0.36, 1.65);
}
.hero:hover {
  transform: translateY(-7%);
  transition: transform 250ms cubic-bezier(1, 0.295, 0.36, 1.65);
}
.hero-cat {
  position: relative;
  margin-bottom: 32px;
  font-weight: 800;
  padding-left: 104px;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.hero-cat::before {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.hero-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 1.136;

  text-transform: capitalize;
  color: #ffffff;
}
.hero-scroll {
  display: inline-block;
  position: relative;
  padding-right: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #ffffff;
}

.hero-scroll::after {
  display: block;
  width: 16px;
  height: 25px;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("./../svg/arrow-down.svg");
}

/* MAIN */

.container {
  max-width: 1462px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.article {
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article:nth-child(2n) {
  flex-direction: row-reverse;
}

.article-text {
  position: relative;
  padding-left: 150px;
  max-width: 782px;
}

.article-text::before {
  position: absolute;
  bottom: 100%;
  left: 0%;
  transform: translateY(50%);
  display: block;
  content: attr(data-number);
  width: 240px;
  height: 240px;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  /* identical to box height, or 100% */

  color: #ffffff;

  opacity: 0.1;
}

.sub-title {
  position: relative;
  margin-bottom: 27px;
  font-weight: 800;
  padding-left: 96px;

  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fbd784;
}

.sub-title::before {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 72px;
  height: 2px;
  background-color: #fbd784;
}

.article-title {
  max-width: 555px;
  margin-bottom: 27px;

  font-family: "Playfair Display", serif;

  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;

  color: #ffffff;
}

.article-text p {
  margin-bottom: 27px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.777;
  /* or 178% */

  color: #ffffff;
}

.article-read-more {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.222;
  /* identical to box height */

  /* Accent */

  color: #fbd784;
}
.article-read-more::after {
  content: "";
  display: block;
  margin-left: 16px;
  width: 24px;
  height: 16px;
  background-image: url(./../svg/arrow-up.svg);
}

.article-img {
  display: block;
}

/* FOOTER */
.footer {
  padding-bottom: 120px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}
.footer-copyright-logo {
  margin-bottom: 24px;
}

.footer-copyight-desc {
  max-width: 303px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  /* or 178% */

  color: #ffffff;
}
.footer-copyright-terms {
  margin-top: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  /* identical to box height, or 178% */

  color: #ffffff;

  opacity: 0.5;
}

.footer-nav-wrapper {
  display: flex;
}

.footer-nav {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  /* identical to box height, or 178% */

  color: #ffffff;
}

.footer-nav:nth-child(2n) {
  margin-left: 212px;
}
.footer-nav-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  max-width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  /* identical to box height, or 133% */

  /* Accent */

  color: #fbd784;
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .footer-nav li {
} */

.footer-nav li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-nav a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}

.footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;

  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0;
  transition: all 250ms ease-in;
}

.footer-nav a:hover::after {
  position: absolute;
  left: 0;
  bottom: -5px;

  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 1;
  transition: all 250ms ease-in;
}
